/***
excellent fonts:
  Nixie One | 500
  Stint Ultra Expanded
  Bungee Hairline
***/
@import "theme.css";

.Counter {
  display: block;
}

.Counter-title {
  font-family: "Nixie One", Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.2em;
  display: block;
}

.Counter-increase {
  @apply --button-padding;
  @apply --north-gap;
  display: block;
  border: 1px solid var(--blue);
  font-family: "Vast Shadow", Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.2em;

  &:hover {
    border-color: var(--red);
    cursor: pointer;
  }
}
