{
  "plugins": [
    ["transform-runtime", {
      "polyfill": true
    }],
    "transform-decorators-legacy",
    "transform-es2015-function-name",
    "ramda",
    "lodash",
    "react-hot-loader/babel"
  ],
  "presets": [
    "es2015",
    "es2016",
    "stage-0",
    "react"
  ]
}
