{
  "presets": [
    ["latest", {
      "es2015": {
        "spec": true,
        "strict": false
      }
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    "syntax-async-functions",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-decorators",
    "transform-react-constant-elements",
    "ramda"

  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "test": {}
  }
}
