{
  "presets": [
    ["latest", {
      "es2015": {
        "spec": true
      }
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "ramda",
    "transform-decorators-legacy",
    "transform-decorators"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {},
    "test": {}
  }
}
