._*
.DS_Store
.eslintcache
.env
.git
.gitignore
.happypack/
.idea/
.npm/
.sass-cache/
.vscode/
*.cache*
*.css.map*
*.iws*
*.log*
benchmark/
build/
dist/
docker-compose.yml
lib/
node_modules/
README.md
