{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "no-irregular-whitespace":  2,
    "no-unexpected-multiline": 0,
    "no-console": 1,
    "no-unused-vars": 1,
    "no-undef": 1,
    "array-bracket-spacing": 1,
    "generator-star-spacing": 1,
    "object-shorthand": 1,
    "babel/new-cap": 1,
    "babel/object-curly-spacing": 0,
    "babel/arrow-parens": 0,
    "babel/no-await-in-loop": 1
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "shared-node-browser": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "modules": true,
  "root": true,
  "globals": {
    "__DEVELOPMENT__": true,
    "__PRODUCTION__": true,
    "__ROOT_DIR__": true,
    "__ENV__": true,
    "DEV_SERVER_PORT": true,
    "DEV_SERVER_HOST": true,
    "NODE_ENV": true,
    "SERVER_PORT": true,
    "SERVER_HOST": true
  }
}
