@import './lost.css';

/* alignment */

.center {
  lost-align: center;
}

/* grid / rows */

.static {
  lost-center: 980px;
}

.row {
  lost-flex-container: row;
}

.column {
  height: 100%;
  lost-flex-container: column;
}

.quarter {
  lost-column: 1/4 0;
}

.half {
  lost-column: 1/2 0;
}
