:root {
  --blue: blue;
  --red: red;
  --gutter: 10px;
  --padding: 10px;
  --module-padding: {
    padding: var(--padding);
  }
  --button-padding: {
    padding: 4px 8px;
  }
  --south-gap: {
    margin-bottom: var(--gutter);
  }
  --north-gap: {
    margin-top: var(--gutter);
  }
}
